extends layout

block content
  div.jumbotron.center
    .container.fullscreen
      .row
        div(class="col-sm-6")
          h2 Welcome to #{title}

        div(class="col-sm-6")
          div(class="panel panel-default")
            div(class="panel-body")
              form(action="/login" method="POST" class="form-horizontal")
                input(type="text" class="form-control" name="username" placeholder="username")
                input(type="password" class="form-control" name="password"  placeholder="Password")
                span(class="btn-group")
                  input(type="submit" name="login" class="btn btn-info" value="Log in")
      .row
         div(class="col-sm-6")
          p Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.
         div(class="col-sm-6")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3(class="panel-title") Signup!
            div(class="panel-body")
             div.alert-danger #{message}
             form(action="/signup" method="POST")
               input(type="text" class="form-control" name="name" placeholder="Full Name")
               input(type="email" class="form-control" name="email" placeholder="Email")
               input(type="text" class="form-control" name="signup_username"  placeholder="Username")
               input(type="password" class="form-control" name="signup_password"  placeholder="password")
               span(class="btn-group")
                 input(type="submit" name="signup_button" class="btn btn-warning" value="Sign Up!")
