//output:login.html
extends layout

block content
  form(action="/api/authenticate" method="POST")
    label Username:
    input(type="text" name="username")
    br
    label Password:
    input(type="password" name="password")
    br
    input(type="submit" value="Sign in")
