<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
  <body>
    <p>Welcome </p>
    <form action="/newstatus" method="POST">
      <label>Status:</label>
      <input type="textarea" name="status"><br>
      <input type="submit" value="Post status">
    </form>
  </body>
</html>