//output:signup.html

extends layout

block content
  div.alert-danger #{message}
  form(action="/signup" method="POST")
    label Full Name:
    input(type="text" name="name")
    br
    label Email:
    input(type="email" name="email")
    br
    label Username:
    input(type="text" name="username")
    br
    label Password:
    input(type="password" name="password")
    br
    input(type="submit" value="Submit")
