body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f8fa!important;
  color: #292f33;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  padding-left: 10px;
  background-color: #FFFFFF;
}


.buttons {
  display: inline;
  float: right;
  margin-left: 50px;
}

.buttons form{
  display: inline;
}

.editedStatus {

}

#profilePageJumbo {
  background-image: url('https://pbs.twimg.com/profile_images/470649386197069824/_x_-pp09.jpeg');
  height: 500px;
  background-position: center;
  background-size: cover;
}

#profilePicture {
   margin-top:-125px;
   text-align:center;
}

#profilePictureImg {
   border-style: solid;
   border-width: 5px;
   border-radius: 25px;
   border-color: white;
   height: 250px;
   width: 250px
}

#userProfileCard {
   text-align: left;
   margin-left: 55px;
   margin-top: 30px;
}

#statusTitle{
   text-align:center;
}

#fileInput{
   position: absolute;
   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);
}

#fakeFile{
   position:absolute;
   top 0px;
   left 0px;
   z-index:1;
}

.tweetToolbar{
   padding-top:20px;
}

.fileUpload {
   position: relative;
   overflow: hidden;
   margin: 10px;
}

.fileUPload input.upload {
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  margin:0px;
  padding:0px;
  font-size:20px;
  cursor:pointer;
  opacity: 0px;
  filter: alpha(opacity=0);  
}
