html {
  background-color: white;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f8fa!important;
  color: #292f33;
  /*height: 100%;*/
}

.fullscreen{
  position: relative;
  background-color: white;
}

.center {
  position: absolute;
  background-color: white !important;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  /*height:100vh;*/
  /*margin-bottom: 0px !important;*/
}
a {
  color: #00B7FF;
}

ul {
  list-style: none;
  padding-left: 10px;
  background-color: #FFFFFF;
}


.buttons {
  display: inline;
  float: right;
  margin-left: 50px;
}

.buttons form{
  display: inline;
}

.editedStatus {

}

#profileButton {
  padding: 0px 10px 0px 10px;
}

#logoutButton {
  padding: 0px 0px 0px 10px;
}

#profilePageJumbo {
  background-image: url('https://pbs.twimg.com/profile_banners/50110518/1367691415/1500x500');
  height: 500px;
  background-position: center;
  background-size: cover;
  margin-top:50px;
}

#profilePicture {
   margin-top:-275px;
   text-align:center;
}

#profilePictureHomepage {
   margin-top:50px;
   text-align:center;
}

#profilePictureImg {
   border-style: solid;
   border-width: 5px;
   border-radius: 25px;
   border-color: white;
   height: 250px;
   width: 250px
}

#profilePictureImgHomepage {
   border-style: solid;
   border-width: 5px;
   border-radius: 25px;
   border-color: white;
   height: 100px;
   width: 100px
}

#userProfileCard {
   text-align: left;
   margin-left: 55px;
   margin-top: 30px;
}

#userProfileCardHomepage {
   text-align: left;
   margin-top: 50px;
}

#statusTitle{
   text-align:center;
}

.tweetToolbar{
   padding-top:20px;
}

.myFile {
   position: relative;
   overflow: hidden;
   text-align: center;
}

.myFile input[type="file"]{
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   opacity: 0;
   font-size: 100px;
   filter: alpha(opacity=0);
   cursor: pointer;
}

.redBorder:hover {
    border-style: solid;
    border-width: 10px;
    border-color: red;
}

#userStats {
  background-color: white;
  border-bottom: 1px solid rgb(227, 227, 227);
}

.floatMeRight {
  float:right;
}

.uploadProfileForm {
  text-align:center;
  display:none;
  position: relative;
  top: 50%;
  bottom: 50%;
}

#twitterStatuses {
  background-color:white;
}

#twitterStatusesHomepage {
  background-color:white;
  margin-top:50px;
}


#userProfileImage{
  height:50px;
  width:70px;
  float:left;
  padding-right:20px;
}

#navBarProfileImage{
  height:32px;
  width:32px
}

#uploadForm {
  text-align:center;
  display:none;
  position: relative;
  top: 50%;
  bottom: 50%;
}

#uploadProfileForm{
  display:none;
  margin-top:-150px;
}
